.bg-white-search {
    background-color: #fff;
    padding: 34px 82px 40px 82px;
    border-radius: 7px;
    border: 1px solid #cccccc59;
    overflow-y: scroll;
    max-height: 250px;
}


.tab-class ul#ex1 {
    border-bottom: 1px solid #ababab63;
    justify-content: center;
    align-items: center;
    text-align: unset;
}

.tab-class .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: var(--bs-nav-tabs-link-active-color);
    background-color: var(--bs-nav-tabs-link-active-bg);
    border-color: #fff;
    border-bottom: 3px solid #d21a77;
}


label.form-label.heig-h4 {
    font-size: 17px;
    margin-bottom: -9px;
    margin-top: 15px;
}

.form-select.heigh-p {
    font-size: 13px;
    font-size: 13px;
    color: #908f8f;
    margin-top: -4px;
    padding-left: 1px !important;
}

.new-s .form-select {
    border: 0px;
    border-right: none !important;
    background-size: 15px 34px !important;
}

hr.hf {
    margin-top: 3px;
    margin-bottom: 3px;
}


button.btn.btn-outline-secondary.mb-3 {
    font-size: 12px;
    margin-bottom: 9px !important;
    margin-left: 0px;
    border: 1px solid #d21a7782;
    border-radius: 30px;
}

.btn:hover {
    color: #fff;
    background-color: #d21a77;
    border-color: var(--bs-btn-hover-border-color);
}


.ne-id-search .form-control {
    font-size: 15px;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
    padding-left: 1px;
    margin-top: 24px;
}


button.btn.bt-register {
    background: linear-gradient(to right, #0D006A, #ED1E79);
    padding: 11px 76px;
    color: #fff;
    border: 0px;
    border-radius: 5px;
    margin-top: 23px;
}



.bg-white-search::-webkit-scrollbar {
    width: 4px;
    border-radius: 6px;
}

/* Track */
.bg-white-search::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.bg-white-search::-webkit-scrollbar-thumb {
    background: #be1876;
}

.bg-white-search

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


.page-header {
    background-color: #fff;
    z-index: 999;
    position: relative;
    box-shadow: 2px -1px 12px -2px #ccc;
}

.profile-per {
    background: #fff;
    padding: 29px 20px 32px 20px;
    border: 1px solid #0000001a;
    border-radius: 7px;
}

.dash-pad {
    background: #f6f7fa;
    padding: 32px 0px 50px 0px;
}


.pro-hea {
    font-size: 19px;
    margin-top: 9px;
    color: #22036b;
}

.profile-des {
    color: #585555;
    font-size: 12px;
    font-weight: 300;
    margin-top: -1px;
}

.img-radi {
    border-radius: 50%;
}


hr {
    margin: 1rem 0;
    color: inherit;
    border: 0;
    border-top: 1px solid;
    opacity: .25;
    color: #9d9c9c;
}

.nav-link {
    color: #101010d9;
    font-size: 13px;
    margin-bottom: 6px;
}

.new-gp {
    padding-left: 30px;
    padding-right: 28px;
}

.p0 {
    padding: 0px;
}

.test-main.cls-for-all {
    /* padding: 23px 27px 8px 27px;*/
    padding: 44px 27px 23px 27px;
}

.cls-for-all p {
    font-size: 11px;
    color: #8e9091;
    font-weight: 400;
    margin-bottom: 9px;
}

.list-none li {
    list-style: none;
}

.pink-bg-list {
    background: #fff4f6;
    padding: 18px 28px 7px 28px;
}

ul.list-none {
    display: flex;
    flex: wrap;
    flex-wrap: wrap;
    width: 100%;
    font-size: 10px;
    font-size: 11px;
    color: #8e9091;
    font-weight: 400;
    gap: 5px 19px;
    padding-left: 0px;
}

.chev-icon {
    /*padding-left: 114px;*/
    float: right;
}


.chev-icon1 {
    /* padding-left: 122px;*/
    float: right;
}


.chev-icon2 {
    /*   padding-left: 123px;*/
    float: right;
}


.chev-icon3 {
    /* padding-left: 97px;*/
    float: right;
}


.chev-icon4 {
    /* padding-left: 110px;*/
    float: right;
}


ul.list-none.col-li {
    color: #ce1a77;
    font-size: 15px;
    font-weight: 500;
}

.box-j {
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid #cccccc63;
    margin-top: 17px;
}

.wid-testimoni {
    border-radius: 7px 0px 0px 7px;
}

.last-showp {
    font-size: 12px;
    color: #8e9091;
    font-weight: 400;
    margin-bottom: 12px;
    margin-top: -4px;
}


.row.bo-filter {
    background: #fff;
    border-radius: 7px 10px;
    border-radius: 6px;
    border: 1px solid #cccccc63;

    padding-top: 13px;
    padding-left: 6px;
    padding-bottom: 8px;
    margin-bottom: 20px;
}


button#filterIcon {
    background: #fff;
    /* border-radius: 64%; */
    margin-top: 10px;
    padding: 6px;
    color: #8d1172;
    border-radius: 23px;
}

.nav-link:focus,
.nav-link:hover {
    color: #b51775;
}


img.img-fluid.clas-to1 {
    margin-top: 4px;
    margin-bottom: 14px;
    border: 1px solid #cccccc5e;
    border-radius: 5px;
}

span.co-editprofile {
    color: #d51b77;
    padding-left: 7px;
    font-weight: 500;
}



@media screen and (min-width: 1280px) and (max-width: 1440px) {
    .test-main.cls-for-all {
        padding: 23px 27px 8px 27px !important;

    }

}



a {
    color: var(--bs-link-color);
    text-decoration: none;
}


.page-header {
    background-color: #fff;
    z-index: 999;
    position: relative;
    box-shadow: 2px -1px 12px -2px #ccc;
}

.bg-white0 {
    background-color: #fff;
    padding: 20px 0px 0px 0px;
    border-radius: 7px;
    border: 1px solid #cccccc59;
    overflow-y: scroll;
    max-height: 695px;
}


.pad-intrest {
    padding-left: 19px;
    padding-bottom: 15px;
}

.cl-right {
    padding-right: 24px;
    font-size: 15px;
    padding-left: 20px;
}


.pad-int-detail {

    margin-top: -125px;
}


.p-lastseen {
    font-size: 13px;
    color: #ffffff;
    font-weight: 400;
}

h4.proview {
    color: #fff;
    font-size: 23px;
    margin-top: -11px;
}

.all-in-o {
    padding: 20px 25px 30px 25px;
}


ul.cl-family li a {
    padding-left: 5px;
    color: #f2f2f2;
    padding-top: 15px;
    margin-right: 17px;
}


.cl-family a.nav-link.active {
    border-bottom: 3px solid #e91d79;
    color: #fff;
}



ul.list-detaily {
    list-style: none;
    width: 100%;
    font-size: 13px;
    color: #383939;
    margin-top: 21px;
    font-weight: 400;
    gap: 5px 19px;
    padding-left: 0px;
}

ul.list-detaily li {
    padding-bottom: 9px;
}


.row.bo-filter4 {
    background: #fff4f6;
    border-radius: 7px 10px;
    border-radius: 6px;
    border: 1px solid #cccccc63;
    padding-top: 13px;
    padding-left: 6px;
    padding-bottom: 8px;
    margin-bottom: 20px;
}


p.last-showp {
    color: #777676;
    font-weight: 300;
    font-size: 12px;
}

.min-imh {
    min-width: 85px;
}


.boi-dat p {
    font-size: 13px;
    color: #0c0c0c;
    font-weight: 300;
    line-height: 21px;
}


.education {
    margin-top: 30px;

}

.education h4 {

    font-size: 20px;
    color: #22036b;
    margin-bottom: 20px;
}

.code-imwidt {
    width: 8%;
}

.educat-head {
    font-size: 15px;
}

.cont-bg p {
    font-size: 13px;
    font-weight: 300;
    color: #555353;
}

.cont-bg {
    background: #fff4f6;
    padding: 23px 19px 15px 19px;
    border-radius: 8px;
    margin-top: 9px;
    margin-bottom: 20px;
    border: 1px solid #cccccc1f;
}

.cont-bg h4 {
    font-size: 16px;
    color: #22036b;
}

.conta-detail {
    font-size: 19px;
    color: #22036b;
    margin-bottom: 20px;
    margin-top: 34px;
}

p.careerp {
    color: #7d7d7d;
    font-size: 11px;
}

h4.carrerh4 {
    font-size: 15px;
    margin-bottom: 5px;
    line-height: 22px;
    font-weight: 400;
    color: #585555;
}

.acou-profe {
    margin-left: -42px;
}

.img-carer {
    width: 50px;
}


p.requ-horoscope {
    margin-top: 18px;
    color: #c81977;
    font-size: 13px;
    text-decoration: underline;
}

.margin-g {
    margin-bottom: 7px !important;
}

.careerp-h {
    color: #5b5858;
    font-size: 13px;
}

.basic-det {
    margin-top: 16px;
}

.basic-det h5 {
    font-size: 16px;
    color: #22036b;
}

h4.heig-h4 {
    margin-top: 17px;
    font-size: 15px;
    color: #2e2c2c;
    font-weight: 400;
}

p.heigh-p {
    font-size: 12px;
    color: #908f8f;
}

svg.lucide.lucide-check {
    margin-top: 17px;
}

hr.lin-profile {
    margin-bottom: 6px;
    margin-top: 3px;
}


.bg-white0::-webkit-scrollbar {
    width: 4px;
    border-radius: 6px;
}

/* Track */
.bg-white0::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.bg-white0::-webkit-scrollbar-thumb {
    background: #be1876;
}

.bg-white0

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}



.page-header {
    background-color: #fff;
    z-index: 999;
    position: relative;
    box-shadow: 2px -1px 12px -2px #ccc;
}

#profilemodal {
    height: 400px;
}

#profile-count {
    border: 2px solid hotpink;
    padding: 10px 10px 10px 10px;
    width: 200px;
}

.image-container {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
}

.delete-link {
    position: absolute;
    top: -5px;
    right: -5px;
    background: red;
    color: white;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    text-align: center;
    line-height: 22px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    z-index: 2;
}

.delete-link:hover {
    background: darkred;
}